<template>
  <div>
    <!-- S : Header -->
    <header class="jumbotron d-flex align-items-center justify-content-between">
      <div class="container">
        <h1>Event Registration</h1>

      </div>
    </header>
    <!-- E : Header -->

    <!-- S : Event Registration -->
    <section class="event-registration">
      <div class="container">

        <div class="card card-default">
          <div class="card-body">
            <router-link :to="back"><h3 class="event-name">{{ event.name }}</h3></router-link>

            <div class="list-tickets pt-3 pb-4">

              <div :class="`ticket ${ ticketSelected ? (ticketSelected.id == ticket.id ? 'active' : '') : '' } ${ !ticket.available ? 'unavailable' : '' }`" @click.prevent="ticketSelected.id == ticket.id ? ticketSelected = {} : ticket.available ? ticketSelected = ticket : () => {  }" v-for="ticket in event.tickets" :key="ticket.id" >
                <input type="checkbox" :checked="ticketSelected ? (ticketSelected.id == ticket.id ? 'active' : '') : ''">
                <div class="ticket-caption">
                  <h5 style="margin-bottom: 0.1rem;">{{ ticket.name }}</h5>
                  <span class="text-muted" style="font-size: 12px" v-html="ticket.available ? (ticket.description ? ticket.description : `-`) : 'Unavailable'"></span>
                </div>
                <div class="ticket-price">
                  <h4>{{ ticket.cost ? parseInt(ticket.cost) : '0' }}.-</h4>
                </div>
              </div>

            </div>

            <div class="list-workshops">
              <h5 class="mb-2">Select additional workshops you want book :</h5>
              <div class="workshop-wrap">
                <div :class="`workshop`" v-for="session in workshops" :key="session.id">
                  <input type="checkbox" :id="`workshop-${ session.id }`" :value="session" v-model="workshopsSelected">
                  <label :for="`workshop-${ session.id }`">{{ session.title }}</label>
                </div>
              </div>
            </div>

            <div class="row mt-4 d-flex justify-content-end">
              <div class="col-md-4">
                <table class="table">
                  <tr>
                    <th>Event ticket</th>
                    <td class="text-center">:</td>
                    <td class="text-right" id="event-cost">{{ ticketTotal }} .-</td>
                  </tr>
                  <tr>
                    <th>Additional workshops</th>
                    <td class="text-center">:</td>
                    <td class="text-right" id="additional-cost">{{ workshopsTotal }} .-</td>
                  </tr>
                  <tr>
                    <th>Total</th>
                    <td class="text-center">:</td>
                    <td class="text-right" id="total-cost">{{ total }} .-</td>
                  </tr>
                </table>

                <a href="" :class="`btn btn-primary btn-lg mt-3 ${ !ticketSelected.id ? 'disabled' : '' }`" id="purchase" @click.prevent="purchase">Purchase</a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- S : Event Registration -->

  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "EventRegistration",
  data: () => ({
    event: {},
    workshops: [],
    ticketSelected: false,
    workshopsSelected: [],
    user: {},
  }),
  computed: {
    total () {
      return this.ticketTotal + this.workshopsTotal;
    },
    ticketTotal () {
      if (this.ticketSelected) {
        return this.ticketSelected.cost ? parseInt(this.ticketSelected.cost) : 0;
      }

      return 0;
    },
    workshopsTotal () {
      if (this.workshopsSelected.length > 0) {
        return this.workshopsSelected.map(session => session.cost ? parseInt(session.cost) : 0).reduce((total, item) => total += item);
      }

      return 0;
    },
    back () {
      return `/organizers/${this.$route.params.organizerSlug}/events/${this.$route.params.eventSlug}`;
    }
  },
  methods: {
    getData () {
      let endpoint = `${this.api}/v1/organizers/${this.$route.params.organizerSlug}/events/${this.$route.params.eventSlug}`;
      axios.get(endpoint).then(response => {
        this.event     = response.data;
        this.workshops = this.event.channels.map(channel => channel.rooms.map(room => room.sessions)).flat(Infinity).filter(session => session.type == 'workshop');
      }).catch(errors => {
        try {
          let message = JSON.parse(errors.request.response).message;
          alert(message);
        } catch (e) {
          alert('Server error !');
        }
      });
    },
    purchase () {
      if (!this.ticketSelected.id) return;

      let endpoint = `${this.api}/v1/organizers/${this.$route.params.organizerSlug}/events/${this.$route.params.eventSlug}/registration?token=${this.user.token}`;
      let body = {
        ticket_id: this.ticketSelected.id,
        session_ids: this.workshopsSelected.map(session => session.id),
      };

      axios.post(endpoint, body).then(response => {
        alert(response.data.message);
        this.$router.push(`/organizers/${this.$route.params.organizerSlug}/events/${this.$route.params.eventSlug}`);
      }).catch(errors => {
        try {
          let message = JSON.parse(errors.request.response).message;
          alert(message);
          if (message == 'User not logged in') {
            this.$router.push('/login');
          } else if (message == 'User already registered') {
            this.$router.push(this.back);
          }
        } catch (e) {
          alert('Server error !');
        }
      });
    },
  },
  mounted() {
    this.getData();
    if (localStorage.getItem('user')) {
      this.user = JSON.parse(localStorage.getItem('user'));
    }
  }
}
</script>

<style scoped>
.list-tickets {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.ticket {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: center;
  grid-gap: 2rem;
  padding: 2rem;
  border: 1px solid #eee;
}
.ticket:not(:last-child) {
  margin-right: 1rem;
}
.ticket.unavailable {
  opacity: 0.5;
}
.workshop {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.workshop input {
  margin-right: 0.5rem;
}
.workshop label {
  margin: 0;
}
</style>