<template>
<div>
  <!-- S : Header -->
  <header class="jumbotron d-flex align-items-center justify-content-between">
    <h1>{{ event.name }}</h1>
    <a href="" class="btn btn-primary" id="register" @click.prevent="toRegister">Register for this event</a>
  </header>
  <!-- E : Header -->

  <!-- S : Event Detail -->
  <section class="event-detail">
    <div class="container-fluid">

      <div class="time-row">
        <div />
        <div class="time-wrap">
          <div class="time">09:00</div>
          <div class="time"></div>
          <div class="time">11:00</div>
          <div class="time"></div>
          <div class="time">13:00</div>
          <div class="time"></div>
          <div class="time">15:00</div>
          <div class="time"></div>
        </div>
      </div>

      <div class="channel-wrap">
        <div class="channel-row row" v-for="channel in event.channels" :key="channel.id">
          <div class="channel"> {{ channel.name }} </div>
          <div class="room-wrap">
            <div class="room-row" v-for="room in channel.rooms" :key="room.id">
              <div class="room"> {{ room.name }} </div>
              <div class="session-wrap">
                <article @click.prevent="toSession(session)" :class="`session ${session.registered ? 'registered' : ''}`" v-for="session in room.sessions" :key="session.id" :style="`left: ${countLeft(session)}%; width: ${countWidth(session)}%;`">
                  {{ session.title }}
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>
  <!-- S : Event Detail -->
</div>
</template>

<script>
import axios from "axios";

export default {
  name: "EventDetail",
  data: () => ({
    event: {},
    registration: {},
    long: 9 * 60 * 60, // 9 hours convert to seconds
    user: {},
  }),
  methods: {
    getData () {
      let endpoint = `${this.api}/v1/organizers/${this.$route.params.organizerSlug}/events/${this.$route.params.eventSlug}`;
      axios.get(endpoint).then(response => {
        this.event = response.data;
        this.getRegistrations();
      }).catch(errors => {
        try {
          let message = JSON.parse(errors.request.response).message;
          alert(message);
        } catch (e) {
          alert('Server error !');
        }
      });
    },
    getRegistrations () {
      if (this.user.token) {
        let endpoint = `${this.api}/v1/registrations?token=${this.user.token}`;
        axios.get(endpoint).then(response => {
          this.registration = response.data.registrations.find(registration => registration.event.id == this.event.id);
          console.log(this.registration);
          if (this.registration) {
            this.event.channels = this.event.channels.map(channel => {
              channel.rooms = channel.rooms.map(room => {
                room.sessions = room.sessions.map(session => {
                  if (session.type == 'workshop' && !this.registration.session_ids.includes(session.id)) {
                    session.registered = false;
                  } else {
                    session.registered = true;
                  }
                  return session;
                })
                return room;
              })
              return channel;
            });
          }
        }).catch(errors => {
          try {
            let message = JSON.parse(errors.request.response).message;
            alert(message);
          } catch (e) {
            alert('Server error !');
          }
        });
      }
    },
    toSession (session) {
      this.$router.push(`/organizers/${this.$route.params.organizerSlug}/events/${this.$route.params.eventSlug}/sessions/${session.id}/${session.title.toLowerCase().split(' ').join('-')}`);
    },
    toRegister () {
      this.$router.push(`/organizers/${this.$route.params.organizerSlug}/events/${this.$route.params.eventSlug}/registration`);
    },
    countLeft (session) {
      let start = new Date(session.start);

      let hours   = start.getHours() * 60 * 60;
      let minutes = start.getMinutes() * 60;
      let seconds = start.getSeconds();

      let duration = hours + minutes + seconds; // duration on seconds
      duration    -= this.long;

      return (duration / (this.long - (2*60*60) )) * 100;
    },
    countWidth (session) {
      let start = new Date(session.start);
      let end   = new Date(session.end);

      let startHours    = start.getHours() * 60 * 60;
      let startMinutes  = start.getMinutes() * 60;
      let startSeconds  = start.getSeconds();
      let startDuration = startHours + startMinutes + startSeconds; // duration on seconds

      let endHours    = end.getHours() * 60 * 60;
      let endMinutes  = end.getMinutes() * 60;
      let endSeconds  = end.getSeconds();
      let endDuration = endHours + endMinutes + endSeconds; // duration on seconds


      let durations = endDuration - startDuration;

      return (durations / (this.long - (2*60*60) )) * 100;
    },
  },
  mounted() {
    this.getData();
    if (localStorage.getItem('user')) {
      this.user = JSON.parse(localStorage.getItem('user'));
    }
  }
}
</script>

<style scoped>
.time-row {
  display: grid;
  grid-template-columns: 2fr 8fr;
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}
.time-wrap {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.time {
  width: 100%;
}

.channel-row {
  display: grid;
  grid-template-columns: 1fr 9fr;
  border-bottom: 1px solid #eee;
}
.channel, .room {
  padding: 1.5rem;
}
.channel {
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}
.room {
  border-right: 1px solid #eee;
}
.room-row {
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
  overflow: hidden;
}
.room-row:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.session-wrap {
  position: relative;
}
.session {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 0.5rem;
  border: 2px solid #ccc;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  background: #FFF;
  transition: .2s;
}
.session:hover{
  background: #eee;
}
.session.registered {
  border-color: forestgreen;
}
</style>