<template>
  <div>

    <!-- S : Header -->
    <header class="jumbotron">
      <div class="container">
        <h1>All upcoming events</h1>
      </div>
    </header>
    <!-- E : Header -->

    <!-- S : List Upcoming Events -->
    <section class="list-events">
      <div class="container">
        <article class="event" v-for="event in events" :key="event.id" @click.prevent="toDetail(event)">
          <h2 class="event-name">{{ event.name }}</h2>
          <span class="event-meta text-muted">{{ event.organizer.name }}, {{ displayDate(event.date) }}</span>
        </article>
      </div>
    </section>
    <!-- S : List Upcoming Events -->


  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: "Homepage",
  data: () => ({
    events: [],
  }),
  methods: {
    getData () {
      let endpoint = `${this.api}/v1/events`;
      axios.get(endpoint).then(response => {
        this.events = response.data.events;
      }).catch(errors => {
        try {
          let message = JSON.parse(errors.request.response).message;
          alert(message);
        } catch (e) {
          alert('Server error !');
        }
      });
    },
    toDetail (event) {
      this.$router.push(`/organizers/${event.organizer.slug}/events/${event.slug}`);
    },
    displayDate (date) {
      let months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

      date = new Date(date);
      let day = date.getDate();
      let month = months[date.getMonth() - 1];
      let year = date.getFullYear();

      return `${month} ${day}, ${year}`;

    }
  },
  mounted() {
    this.getData();
  }
}
</script>

<style scoped>
.event {
  margin-bottom: 1rem;
  padding: 1.5rem;
  border: 1px solid #808080;
  transition: .2s;
  transition-property: background-color;
  cursor: pointer;
}
.event:hover {
  background: mediumslateblue;
  color: #FFF;
}
.event:hover .text-muted {
  color: #FFF !important;
}
</style>