<template>
  <div>

    <!-- S : Header -->
    <header class="jumbotron">
      <h1 class="text-center">Event Booking Platform</h1>
    </header>
    <!-- E : Header -->


    <!-- S : Login -->
    <section class="login-box">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6">

            <div class="alert alert-danger" v-if="error">
              {{ error }}
            </div>

            <form action="" @submit.prevent="login">
              <div class="card card-default">
                <div class="card-header">
                  Login
                </div>
                <div class="card-body">
                  <div class="form-group">

                    <div class="row">
                      <div class="col-md-4">
                        <label for="lastname">Lastname</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" id="lastname" class="form-control" v-model="lastname">
                      </div>
                    </div>

                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-4">
                        <label for="registration_code">Registration Code</label>
                      </div>
                      <div class="col-md-8">
                        <input type="password" id="registration_code" class="form-control" v-model="registration_code">
                        <button type="submit" class="btn btn-primary mt-4" id="login">Login</button>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- S : Login -->

  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Login",
  data: () => ({
    lastname: '',
    registration_code: '',
    error: false,
  }),
  methods: {
    login () {
      let endpoint = `${this.api}/v1/login`;
      let body = {
        lastname: this.lastname,
        registration_code: this.registration_code,
      };

      axios.post(endpoint, body).then(response => {
        alert('Login successful');
        let user = JSON.stringify(response.data);
        localStorage.setItem('user', user);
        this.$router.go(-1);
      }).catch(errors => {
        try {
          let message = JSON.parse(errors.request.response).message;
          this.error = message;
        } catch (e) {
          alert('Server error !');
        }
      });
    },
  }
}
</script>

<style scoped>

</style>