<template>
<div class="caption">
  <div>
    <h1>NotFound</h1>
    <p class="mb-4">Sorry, your page is not found.</p>
    <router-link to="/" class="btn btn-primary">Back home</router-link>
  </div>
</div>
</template>

<script>
export default {
  name: "NotFound"
}
</script>

<style scoped>
.caption {
  height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}
</style>