<template>
  <div>

    <!-- S : Header -->
    <header class="jumbotron">
      <div class="container">
        <router-link :to="back"><h1>{{ event.name }}</h1></router-link>
      </div>
    </header>
    <!-- E : Header -->

    <!-- S : Session Detail -->
    <section class="session-detail">
      <div class="container">

        <div class="card card-default">
          <div class="card-body">
            <h3 class="session-title">{{ session.title }} - <span class="text-capitalize">{{ session.type }}</span></h3>
            <div class="session-description text-muted py-2">
              <p>{{ session.description }}</p>
            </div>

            <div class="row">
              <div class="col-md-4">
                <table class="table">
                  <tr>
                    <th>Speaker</th>
                    <td>:</td>
                    <td>{{ session.speaker }}</td>
                  </tr>
                  <tr>
                    <th>Start</th>
                    <td>:</td>
                    <td>{{ session.start.split('').slice(11, 16).join('') }}</td>
                  </tr>
                  <tr>
                    <th>End</th>
                    <td>:</td>
                    <td>{{ session.end.split('').slice(11, 16).join('') }}</td>
                  </tr>
                  <tr>
                    <th>Cost</th>
                    <td>:</td>
                    <td>{{ session.cost ? session.cost : '0' }}.-</td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div>


      </div>
    </section>
    <!-- S : Session Detail -->

  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "SessionDetail",
  data: () => ({
    event: {},
    session: {},
  }),
  computed: {
    back () {
      return `/organizers/${this.$route.params.organizerSlug}/events/${this.$route.params.eventSlug}`;
    }
  },
  methods: {
    getData () {
      let endpoint = `${this.api}/v1/organizers/${this.$route.params.organizerSlug}/events/${this.$route.params.eventSlug}`;
      axios.get(endpoint).then(response => {
        this.event   = response.data;
        this.session = this.event.channels.map(channel => channel.rooms.map(room => room.sessions)).flat(Infinity).find(session => session.id == this.$route.params.sessionId);
      }).catch(errors => {
        try {
          let message = JSON.parse(errors.request.response).message;
          alert(message);
        } catch (e) {
          alert('Server error !');
        }
      });
    },
    toSession (session) {
      this.$router.push(`/organizers/${this.$route.params.organizerSlug}/events/${this.$route.params.eventSlug}/sessions/${session.id}/${session.title.toLowerCase().split(' ').join('-')}`);
    }
  },
  mounted() {
    this.getData();
  }
}
</script>

<style scoped>

</style>