<template>
<div>
  <nav class="navbar navbar-dark fixed-top bg-dark shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="" @click.prevent="$router.push('/')">Event Booking Platform</a>
    <ul class="navbar-nav" v-if="user.token">
      <li class="nav-item">
        <a class="nav-link" id="logout" href="index.html">{{user.username}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-danger" id="logout" href="index.html" @click.prevent="logout">Sign out</a>
      </li>
    </ul>

    <ul class="navbar-nav" v-else>
      <li class="nav-item">
        <a class="nav-link btn btn-primary login-btn" id="logout" href="index.html" @click.prevent="$router.push('/login')">Login</a>
      </li>
    </ul>
  </nav>
</div>
</template>

<script>
import axios from 'axios'
export default {
  name: "Navbar",
  props: ['page'],
  watch: {
    page () {
      this.updateNavbar();
      this.$emit('updatePage', false);
    }
  },
  data: () => ({
    user: {},
  }),
  methods: {
    updateNavbar () {
      if (localStorage.getItem('user')) {
        this.user = JSON.parse(localStorage.getItem('user'));
      }
    },
    logout () {
      axios.post(`${this.api}/v1/logout?token=${this.user.token}`).then((response) => {
        alert(response.data.message)
        localStorage.removeItem('user');
        this.user = {};
        this.$router.push('/login');
      }).catch(errors => {
        try {
          let message = JSON.parse(errors.request.response).message;
          alert(message);
        } catch (e) {
          alert('Server error !');
        }
      })
    }
  },
  created() {
    this.updateNavbar();
  }
}
</script>

<style scoped>
.navbar-nav {
  flex-direction: row;
}
.nav-link {
  padding: 12px 32px !important;
}
.login-btn {
  padding: 12px 32px !important;
}
.login-btn {
  background: #fff;
  color: dodgerblue !important;
}
.login-btn:hover {
  background: #efefef;
  color: dodgerblue;
}

.navbar {
  background: mediumslateblue !important;
}
</style>