<template>
  <div id="app">

    <!-- S : Navbar -->
    <Navbar :page="changePage" @updatePage="handleUpdatePage" />
    <!-- E : Navbar -->

    <!-- S : Content -->
    <main id="content">
      <transition name="page" mode="out-in">
        <router-view></router-view>
      </transition>
    </main>
    <!-- E : Content -->

    <!-- S : Footer -->
    <footer id="footer">
      Copyright &copy; 2021, Ahmad Irfan Maulana - Indonesia
    </footer>
    <!-- E : Footer -->


  </div>
</template>

<script>
import Navbar from "./components/Navbar";

export default {
  name: 'App',
  components: {
    Navbar
  },
  data: () => ({
    changePage: false,
  }),
  watch: {
    $route(to, from) {
      console.log(to, from);
      this.changePage = true;
    }
  },
  methods: {
    handleUpdatePage (value) {
      this.changePage = value;
    }
  }
}
</script>

<style>
@import "assets/css/bootstrap.css";

* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/*animation*/
.page-enter-active, .page-leave-active {
  transition: 0.5s;
}
.page-enter {
  transform: translateY(-100vh) scale(0.8);
}
.page-leave-to {
  transform: translateY(-150vh);
  opacity: 0;
}

#content {
  margin-top: 56px;
  min-height: 100vh;
}

#footer {
  text-align: center;
  padding: 2rem;
}
.btn {
  border-radius: 0px;
}
.jumbotron {
  background: #eee !important;
}
</style>
